[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
motor = "*"
pandas = "*"
openpyxl = "*"
python-dotenv = "*"
python-multipart = "*"
python-jose = {extras = ["crytography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
colorlog = "*"
pipfile-requirements = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.10"
